@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #ffffff;
}

.scrollport {
	overflow: auto;
	display: flex;
	flex-direction: column;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollport::-webkit-scrollbar {
	display: none;
}

.child {
	scroll-snap-align: start;
}

.bg-primary {
	background-color: #0ebdc2;
}

.bg-secondary {
	background-color: #314755;
}

.bg-other {
	background-color: #b0b0b0;
}

.title {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 500;
}

.other-text {
	font-size: 24px;
	font-weight: 500;
}

.link,
.button {
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
}

.link:active,
.button:active {
	opacity: 0.8;
}

.button:disabled {
	pointer-events: none;
	opacity: 0.5;
}

.game-circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	height: 200px;
	align-items: center;
	border: 8px solid #ffffff;
	border-radius: 50%;
}

.input {
	display: block;
	border-radius: 5px;
	padding: 10px 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.actions-container button:not(:first-child) {
	margin-left: 6px;
}

.table-border {
	border-bottom-width: 1px;
}

.share-btn {
	display: inline-block;
	color: #ffffff;
	border: none;
	padding: 0.1em 0.3em;
	outline: none;
	text-align: center;
	font-size: 0.9em;
	margin: 0 0.2em;
}

.share-btn:focus,
.share-btn:hover {
	text-decoration: none;
	opacity: 0.8;
}

.share-btn:active {
	color: #e2e2e2;
}
